@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  --background: #F9FBFC;
  --foreground: #000;

  --color-black: #2C2C2C;
  --color-purple: #716CE9;
  --color-light-purple: #e7e5f8;
  --color-light-purple-hover: rgba(231, 229, 248, 0.749);
  --color-input-bg: #FDFDFE;
  --color-grey: #636871;
  --color-dark-purple: #6B4DBF;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #F9FBFC;
    --foreground: #000;
  }
}

body {
  background: var(--background);
  color: var(--color-black);
  font-family: var(--font-inter);
}

.improvements-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #716CE9 #f4f4ff; /* thumb, track */
}
.improvements-scrollbar::-webkit-scrollbar {
  width: 10px;
}
.improvements-scrollbar::-webkit-scrollbar-track {
  background: #f4f4ff;
  border-radius: 8px;
}
.improvements-scrollbar::-webkit-scrollbar-thumb {
  background: #716CE9;
  border-radius: 8px;
}
.improvements-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #716CE9;
}
.improvements-scrollbar::-webkit-scrollbar-button {
  display: none;
}


@media (max-width: 768px) {
  .sticky-shadow-right {
    box-shadow: 4px 0 8px -2px rgba(0,0,0,0.08);
    /* Adjust values as needed for your design */
  }
}

.animate-spin {
  animation: spin 1s linear infinite;
}
@keyframes spin {
  to { transform: rotate(360deg); }
}